* {
    margin: 0;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

:root {
    --site-color1: orange;
    --site-color1rgba: 255, 166, 0;
    --site-color2: rgb(195, 252, 252);
    --site-color2rgba: 195, 252, 252;
    --primary-color: orange;
    --primary-color-alpha: 254, 165, 0;
    --secondary-color: aliceblue;
}

/* THE NAV */

/* colors */
    .bg-color-primary {
     background-color: var(--primary-color);
    }
    
    .text-color-primary {
        color: var(--primary-color)!important;
    }
    
    .bg-color-secondary {
        background-color: var(--secondary-color);
    }
    
    .text-color-secondary {
        color: var(--secondary-color);
    }
    
    button.navbar-toggler {
        border: none;
        text-align: left;
        padding: 0;
    }
    
    .nav-img {
        height: 4rem;
    }
    
    .nav-cart {
        width: 30px;
        text-align: right;
    }
    
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    /* why doesn't this work? */
    button.navbar-toggler:focus {
        outline: 2px orange;
        outline-offset: -2px;
        box-shadow: none;
    }
    
    
    /* NAV BORDERS (doing this here because I don't know how to adjust Bootstrap default colors yet */
    .nav-link {
        border-top: solid 1px rgba(var(--primary-color-alpha), 0.2);
    }
    
    .nav-link:last-child {
        border-bottom: solid 1px rgba(var(--primary-color-alpha), 0.2);
    }
    
    @media (min-width: 768px) {
        .nav-link,
        .nav-link:last-child {
            border-top: none;
            border-bottom: none;
        }
    }
    
    /* I have tried to apply this style using BS classes but they would not work, because there is responsive font sizing by default, no responsive font size classes */
    
    @media (min-width: 992px) {
        .nav-item {
            font-size: 1.8rem;
        }
        }


/* THE MAIN CONTENT*/

section {
    width: 60vw;
    margin: 0 auto;
    margin-top: 14rem;
}

/* INTRO SECTION */

.intro-section {
    text-align: center;
    padding-top: 10rem;
    background: linear-gradient(360deg, rgba(var(--site-color1rgba), 0.3), rgba(255, 255, 255, 0.8));
    width: 100%;
    margin-top: 0;
    padding-bottom: 6rem;
}

h1#plumbus.big-font {
    font-size: 3.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    h1#plumbus.big-font {
        font-size: 5rem;
    }
}

.intro-section input {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
    border: 2px solid black;
    background-color: rgb(237, 235, 235);
    text-align: center;
}

.intro-section .email-button {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 16rem;
    height: 4rem;
    border-radius: 3px;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
}

.intro-section img {
    margin-top: 4rem;
    margin-bottom: 5rem;
    width: 50%;
}


/* FEATURES SECTION */

.features-section {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 10rem;
}

.features-section .icon {
    font-size: 5rem;
    text-align: right;
    margin: auto 0;
}

.features-text .heading {
    font-weight: bold;
    font-size: 3rem;
    text-align: left;
}

.features-text .description {
    font-size: 2rem;
    margin-top: 1.5rem;
}

/* VIDEO */

.video-section {
    text-align: center;
}


/* PRICING */

.pricing-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    column-gap: 2rem;
}

@media (max-width: 600px) {
    .pricing-section {
    grid-template-columns: 1fr;
    gap: 2rem;
}
}

.pricing-group {
border: 1px solid rgba(255, 147, 167, 0.796);
}

.plumbus-type {
    font-weight: bold;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem;
    background-color: pink;

}

.price {
    font-size: 2rem;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: center;
    padding: 2rem;
    background-color: rgba(249, 220, 225, 0.582);
}

.pricing-text {
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2rem;
    background-color: rgba(255, 218, 185, 0.627);
}

.plumbus-select {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem 2rem;
    margin: 1rem auto;
    background-color: pink;
    border-radius: 5px;
    border: 2px solid rgba(255, 147, 167, 0.796);
}

.plumbus-select:hover, 
.email-button:hover {
    cursor: pointer;
    background-color: var(--site-color1);
}

/* FOOTER */

footer {
    margin-top: 25rem;
}

.footer-group {
    margin: 0 auto;
    width: 60vw;
    text-align: right;
    background: linear-gradient(270deg, rgba(var(--site-color2rgba), 1), rgba(var(--site-color2rgba), 0) 40%);
    padding: 3rem 2rem 3rem 0;
}
.footer-link-group {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
}

.footer-link-group a {
    padding-left: 3rem;
}

.footer-text {
    font-size: 1.5rem;
    margin-top: 2rem;
}

/* RESPONSIVITY */

@media (max-width: 1300px) {
    .video-section iframe {
        width: 500px;
        height: 281.5px;
    }
    section {
        width: 80vw;
    }
    .features-text .heading {
        font-size: 2rem;
    }
    .features-section {
        grid-template-columns: 1fr 3fr;
    }
}

/* FOR SMARTPHONES */

@media (max-width: 600px) {
    .video-section iframe {
        width: 325px;
        height: 178px;
    }
    section {
        width: 90%;
    }
}  